body {
	background-size:cover;
	background-attachment:fixed;
}
.nav{
	width: 350px;
	height: auto;
	position: absolute;
	top: 20%;
	left: 0%;
}
.nav a{
	text-decoration: none;
	font-size: 28px;
	font-family: verdana;
	font-weight: bold;
	width: 100%;
	height: 100px;
	margin: 0px 0;
	float: left;
	display: inline-block;
	background-color: black;
	color: white;
	text-align: center;
	line-height: 115px;
	transition: 200ms;
}
a.home:link{
	background-color: black;
	color: white;
}
a.home:visited{
	background-color:black;
	color:white;
}
a.home:hover{
	background-color: #FF971A;
	color: black;
	font-size:250%;
}
a.home:active{
	background-color:black;
}
a.trending:link{
	background-color: #FFB347;
	color: black;

}
a.trending:visited{
	background-color: black;
	color: white;

}
a.trending:hover{
	background-color: #FFB347;
	color: black;
	font-size:250%;

}
a.trending:active{
	background-color: #FFB347;
	color: black;

}
a.subscriptions:link{
	background-color: #FFDF9E;
	color: black;

}
a.subscriptions:visited{
	background-color:#FFDF9E;
	color: black;

}
a.subscriptions:hover{
	background-color: #FFDF9E;
	color: black;
	font-size:215%;

}
a.subscriptions:active{
	background-color: #FFDF9E;
	color: black;

}

.nav1{
	width: 100px;
	height: auto;
	position: absolute;
	top: 0%;
	left: 0%
}
.nav1 img{

	width: 50%;
	height: 100px;
	margin: 0px 0;
	float: left;
	display: inline-block;

}
img.lines {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 15%;
	left: 25%;
	
}
img.logo{
	width: 100px;
	height: 100px;
	position: absolute;
	top: 15%;
	left: 150%;
}
img.search{
	width: 500px;
	height: 150px;
	position: absolute;
	top: 0%;
	left: 400%;
}
.nav2{
	width: 350px;
	height: 100px;
	position: absolute;
	top: 20%;
	left: 30%;
	float: left;
	display: inline-block;
	margin: 0px 0;
}
.nav2 img{
	width: 100%;
	height: 200px;
	position: absolute;
}

.nav3{
	width: 350px;
	height: 100px;
	position: absolute;
	top: 60%;
	left: 30%;
	float: left;
	display: inline-block;
	margin: 0px 0;
}
.nav3 img{
	width: 100%;
	height: 200px;
	position: absolute;
}
.nav4{
	width: 350px;
	height: 100px;
	position: absolute;
	top: 20%;
	left: 60%;
	float: left;
	display: inline-block;
	margin: 0px 0;
}
.nav4 img{
	width: 100%;
	height: 200px;
	position: absolute;
}
.nav5{
	width: 350px;
	height: 100px;
	position: absolute;
	top: 60%;
	left: 60%;
	float: left;
	display: inline-block;
	margin: 0px 0;
}
.nav5 img{
	width: 100%;
	height: 200px;
	position: absolute;
}
.nav6{
	width: 350px;
	height: 100px;
	position: absolute;
	top: 100%;
	left: 30%;
	float: left;
	display: inline-block;
	margin: 0px 0;
}
.nav6 img{
	width: 100%;
	height: 200px;
	position: absolute;
}
.nav7{
	width: 350px;
	height: 100px;
	position: absolute;
	top: 100%;
	left: 60%;
	float: left;
	display: inline-block;
	margin: 0px 0;
}
.nav7 img{
	width: 100%;
	height: 200px;
	position: absolute;
}